html, body, div {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
/*        background-color: aqua;*/
	}

/*dev*/
h1{
    margin: 0;
}

.wrapper {
    background-image: url(img/more_copy.png);
    background-size: 100% 100%;
}

.container {
    height: 768px;
/*    background-color: cornflowerblue*/
}

.bottom {
    overflow: hidden;
    overflow-x: scroll;
    white-space:nowrap;
}
    .bottom-content{
        width: 1024px;
        display: inline-block;
        vertical-align: top;
    }
