/*шрифты*/
	@font-face {
			font-family: "GothamProLight";
			src: url("../fonts/GothamProLight/GothamProLight.eot");
			src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
			url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

html, body, div {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
        font-family: "GothamProLight";
        color: white;
		vertical-align: baseline;
/*        background-color: aqua;*/
	}

/*
img {
    width: 100%;
    height: 100%;
}
*/

/*dev*/
h1{
    margin: 0;
}



.wrapper {
    position: relative;
    background: url("img/testCopy.png") 100% 100% no-repeat;
}

.container {
    height: 768px;
    position: relative;
/*    background-color: cornflowerblue*/
}

/*нижниий контент*/
.bottom {
    overflow: hidden;
    overflow-x: scroll;
    white-space:nowrap;
}
    .bottom-content{
        width: 1024px;
        display: inline-block;
        vertical-align: top;
    }

/*пагинация*/
#pagination {
    position: fixed;
    right: 27px;
    top: calc(50% - 31px);
}
    .pagination-circle{
        background-color: white;
        width: 13px;
        height: 13px;
        border-radius: 50px;
        margin-top: 8px;
    }
    .pagination-circle-active{
        position: absolute;
        background-color: #f78b1f;
        display: none;
    }
        .pagination-circle-active:first-child{
            display: block;
        }

/*ползунок*/
.range {
    position: absolute;
    bottom: 2em;
    width: 618px;
    left: calc(50% - 309px);
}

    .range>p {
          font-size: 22.471px;
          color: rgb(255, 255, 255);
          line-height: 1.2;
          text-align: justify;
          text-align-last: justify;
    }





/*
    box-shadow: 
        -13px 0 #d1eaff, -26px 0 #d1eaff, -39px 0 #d1eaff,
	-52px 0 #d1eaff, -65px 0 #d1eaff, -78px 0 #d1eaff,
	-91px 0 #d1eaff, -104px 0 #d1eaff, -117px 0 #d1eaff,
	-130px 0 #d1eaff, -143px 0 #d1eaff, -156px 0 #d1eaff,
	-169px 0 #d1eaff, -182px 0 #d1eaff, -195px 0 #d1eaff,
	-208px 0 #d1eaff, -221px 0 #d1eaff, -234px 0 #d1eaff,
	-247px 0 #d1eaff, -260px 0 #d1eaff, -273px 0 #d1eaff,
	-286px 0 #d1eaff, -299px 0 #d1eaff, -312px 0 #d1eaff,
	-325px 0 #d1eaff, -338px 0 #d1eaff, -352px 0 #d1eaff,
	-365px 0 #d1eaff, -378px 0 #d1eaff, -391px 0 #d1eaff,
	-402px 0 #d1eaff, -415px 0 #d1eaff, -428px 0 #d1eaff,
	-441px 0 #d1eaff, -454px 0 #d1eaff, -467px 0 #d1eaff,
	-480px 0 #d1eaff, -493px 0 #d1eaff, -506px 0 #d1eaff,
	-519px 0 #d1eaff, -532px 0 #d1eaff, -545px 0 #d1eaff,
	-558px 0 #d1eaff, -571px 0 #d1eaff, -584px 0 #d1eaff,
	-587px 0 #d1eaff, -600px 0 #d1eaff, -613px 0 #d1eaff,
	-618px 0 #d1eaff;
}
*/

/*
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 43px;
    height: 56px;
    background-image: url(img/range_input.png);
    box-shadow: 
        -13px 0 #d1eaff, -26px 0 #d1eaff, -39px 0 #d1eaff,
	-52px 0 #d1eaff, -65px 0 #d1eaff, -78px 0 #d1eaff,
	-91px 0 #d1eaff, -104px 0 #d1eaff, -117px 0 #d1eaff,
	-130px 0 #d1eaff, -143px 0 #d1eaff, -156px 0 #d1eaff,
	-169px 0 #d1eaff, -182px 0 #d1eaff, -195px 0 #d1eaff,
	-208px 0 #d1eaff, -221px 0 #d1eaff, -234px 0 #d1eaff,
	-247px 0 #d1eaff, -260px 0 #d1eaff, -273px 0 #d1eaff,
	-286px 0 #d1eaff, -299px 0 #d1eaff, -312px 0 #d1eaff,
	-325px 0 #d1eaff, -338px 0 #d1eaff, -352px 0 #d1eaff,
	-365px 0 #d1eaff, -378px 0 #d1eaff, -391px 0 #d1eaff,
	-402px 0 #d1eaff, -415px 0 #d1eaff, -428px 0 #d1eaff,
	-441px 0 #d1eaff, -454px 0 #d1eaff, -467px 0 #d1eaff,
	-480px 0 #d1eaff, -493px 0 #d1eaff, -506px 0 #d1eaff,
	-519px 0 #d1eaff, -532px 0 #d1eaff, -545px 0 #d1eaff,
	-558px 0 #d1eaff, -571px 0 #d1eaff, -584px 0 #d1eaff,
	-587px 0 #d1eaff, -600px 0 #d1eaff, -613px 0 #d1eaff,
	-618px 0 #d1eaff;
}
*/

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0;
  background: #435063;
  border-radius: 1.3px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 55px;
  width: 43px;
  border-radius: 3px;
  background-color: transparent;
  background: url(img/range_thumb.png);
  cursor: pointer;
  margin-top: -25px;
}


.next {
    position: fixed;
    width: 1024px;
    height: 100px;
    bottom: 0;
    z-index: 1000;
}
    .next-img {
        width: 1024px;
        position: absolute;
        bottom: 0px;
        left: calc(50% - 555px);
        z-index: 100
    }
    
    .next>p {
        padding-top: 10px;
        text-align: center;
        color: white;
        z-index: 122200;
    }


.arrow {
  position: relative;
  display: inline-block;
    left:calc(50% - 2.5em);
    bottom: 35px;
  width: 3rem;
  height: 0.5rem;
  margin: 1rem;
    z-index: 2000
}
.arrow::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  border: 2px solid white;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}
.arrow--down::before {
  left: 10px;
  top: 10px;
  border-right: 0;
  border-top: 0;
}


.text {
  font-size: 47px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  font-weight: 100;
}

    .text-middle {
  padding-top: 30%;
  text-align: center;
    }

    .text-bottom {
        font-size: 30px;
        text-align: left;
        position: absolute;
        left: 83px;
        top: 109px;
    }


#two {
    background: url(img/test.png) 100% 100% no-repeat;
}

#three-one {
    background: url(img/3_1.png) 100% 100% no-repeat,
        url(img/tab-1988.png) 100% 100% no-repeat;
}

#three-two {
    background: url(img/3_2.png) 100% 100% no-repeat,
        url(img/tab-2009.png) 100% 100% no-repeat;
}

#three-three {
    background: url(img/3_3.png) 100% 100% no-repeat,
        url(img/tab-2016.png) 100% 100% no-repeat;
}